*{
    padding:0px;
    margin:0px;
    font-family: "Microsoft YaHei","Microsoft YaHei UI Light",sans-serif;

}
#stage{
    margin:10px auto;
    width:620px;
    height:620px;
    padding:8px;
    border:2px solid #aaaaaa;
}
.block{
    position: absolute;
    width:150px;
    height:150px;
    line-height:150px;
    text-align: center;
    font-size: 40px;
    -webkit-transition: margin-left 0.3s, margin-top 0.3s;
    -moz-transition: margin-left 0.3s, margin-top 0.3s;
    -ms-transition: margin-left 0.3s, margin-top 0.3s;
    -o-transition: margin-left 0.3s, margin-top 0.3s;
    transition: margin-left 0.3s, margin-top 0.3s;
}
#scoreBox{
    width:500px;
    padding:5px;
    height:50px;
    margin:30px auto;
    font-size: 32px;
    letter-spacing:1px;
}
#score{
    margin-left: 10px;
}